:host ::ng-deep {
	.p-menu {
		background-color: var(--rc-base-color);
		border: 0;
		border-radius: 0;
		border-right: 1px solid var(--rc-base-color);
		border-top: 1px solid var(--bs-white);
	}

	.p-menuitem-link {
		color: var(--bs-white);
		border: 1px solid var(--rc-base-color);

		&:hover {
			background-color: var(--rc-base-color-active);
		}

		&.active {
			color: var(--bs-white);
			background-color: var(--rc-base-color-active);
			border: 1px solid var(--rc-base-color);
		}
	}
}
