<div class="container h-100">
	<div class="row mh-100 h-100">
		<div class="col-4 h-100 border-end">
			<p-listbox
				[filter]="true"
				scrollHeight="100%"
				[options]="listOfUsers"
				optionLabel="name"
				styleClass="h-100 d-flex flex-column"
				[(ngModel)]="selectedUser"
			>
			</p-listbox>
		</div>
		<div class="col-8 messages-container h-100">
			<div class="row h-100 overflow-auto messages-row w-100">
				<div class="col">
					@for (message of listOfMessages; track $index) {
					<div class="row m-4" [ngClass]="{ 'me-0 justify-content-end': message.role === 0, 'ms-0 justify-content-start': message.role === 1 }">
						<div class="d-flex flex-column" style="width: 30%; max-width: 75%">
							<span class="p-2 shadow-sm border rounded">
								{{ message.message }}
							</span>
							<small class="fst-italic">{{ message.timestamp | date : "short" }}</small>
						</div>
					</div>
					}
				</div>
			</div>
			<!-- <hr /> -->
			<div class="row textbox-row d-flex align-items-center w-100">
				<div class="col-10">
					<textarea rows="5" class="w-100" pInputTextarea [(ngModel)]="value"></textarea>
				</div>
				<div class="col-2">
					<p-button label="Send" type="button" styleClass="w-100" (onClick)="addMessage()" [disabled]="!value" icon="pi pi-send"></p-button>
				</div>
			</div>
		</div>
	</div>
</div>
