<div class="container h-100">
	<div class="row d-flex align-items-center">
		<div class="col-6 col-offset-3">
			<p-card header="Sign Up" subheader="Create an account here">
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<p-stepper [linear]="true">
						<p-stepperPanel>
							<ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
								<div class="row gap-2">
									<div class="col-12">
										<label for="email" class="required">Username</label>
										<input id="email" formControlName="email" type="email" pInputText [required]="true" class="w-100" />
										@if(form.controls['email'].touched && form.controls['email'].hasError('required')) {
										<small class="invalid-form-control">Email is required</small>
										} @if(form.controls['email'].touched && form.controls['email'].hasError('maxlength')) {
										<small class="invalid-form-control">Email cannot be more than 50 characters</small>
										}
									</div>
									<div class="col-12">
										<label for="password" class="required">Password</label>
										<p-password id="password" [toggleMask]="true" styleClass="w-100" inputStyleClass="w-100" formControlName="password"></p-password>
										@if(form.controls['password'].touched && form.controls['password'].hasError('required')) {
										<small class="invalid-form-control">Password is required</small>
										} @if(form.controls['password'].touched && form.controls['password'].hasError('minlength')) {
										<small class="invalid-form-control">Password cannot be less than 5 characters</small>
										}
									</div>
									<div class="col-12">
										<label for="confirmPassword" class="required">Confirm Password</label>
										<p-password
											id="confirmPassword"
											[toggleMask]="true"
											styleClass="w-100"
											inputStyleClass="w-100"
											formControlName="confirmPassword"
										></p-password>
										@if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('required')) {
										<small class="invalid-form-control">Confirm Password is required</small>
										} @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('minlength')) {
										<small class="invalid-form-control">Confirm Password cannot be less than 5 characters</small>
										}
									</div>
								</div>
								<div class="d-flex pt-4 justify-content-center">
									<p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
								</div>
							</ng-template>
						</p-stepperPanel>
						<p-stepperPanel>
							<ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
								<div class="row">
									<div class="col-6">
										<label for="company" class="required">Company</label>
										<p-dropdown id="company" formControlName="company" [options]="listOfCompanies" styleClass="w-100"></p-dropdown>
									</div>
									<div class="col-6">
										<label for="experience" class="required">Experience</label>
										<p-dropdown id="experience" formControlName="experience" [options]="listOfExperiences" styleClass="w-100"></p-dropdown>
									</div>
									<div class="col-12">
										<label for="skills" class="required">Skills</label>
										<p-multiSelect
											id="skills"
											formControlName="skills"
											[options]="listOfSkills"
											display="chip"
											[showClear]="true"
											styleClass="w-100"
										></p-multiSelect>
									</div>
									<div class="col-6">
										<label for="country" class="required">Country</label>
										<p-dropdown id="country" formControlName="country" [options]="listOfCountries" styleClass="w-100"></p-dropdown>
									</div>
									<div class="col-6">
										<label for="city" class="required">City</label>
										<p-dropdown id="country" formControlName="city" [options]="listOfCities" styleClass="w-100"></p-dropdown>
									</div>
								</div>
								<div class="d-flex gap-2 pt-4 justify-content-center">
									<p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
									<p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
								</div>
							</ng-template>
						</p-stepperPanel>
						<p-stepperPanel>
							<ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
								<div class="flex flex-column h-12rem">
									<div
										class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
									>
										Content III
									</div>
								</div>
								<div class="d-flex gap-2 pt-4 justify-content-center">
									<p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
									<p-button type="submit" severity="primary">Sign Up</p-button>
								</div>
							</ng-template>
						</p-stepperPanel>
					</p-stepper>
				</form>
			</p-card>
		</div>
	</div>
</div>
