<div class="container">
	<div class="row justify-content-center">
		<div class="col-6">
			<div class="d-flex">
				<input
					type="text"
					pInputText
					[placeholder]="'Search ' + (user && user['roleId'] == 1 ? 'Referer' : 'Referent')"
					[(ngModel)]="searchQuery"
					class="flex-grow-1"
				/>
				<p-dropdown [options]="searchTypes" [(ngModel)]="selectedSearchType" optionLabel="name" [style]="{ width: '150px' }"></p-dropdown>
				<button type="button" pButton icon="pi pi-search" class="p-button-primary" (click)="onSearch()"></button>
			</div>
		</div>
	</div>

	<div>
		<hr *ngIf="hasSearched" />
		<h2 class="text-center" *ngIf="hasSearched">Results</h2>
		<p-dataView [value]="searchResults">
			<ng-template pTemplate="empty">
				<div class="text-center p-4">
					<p *ngIf="hasSearched">No results found</p>
					<p *ngIf="!hasSearched && !searching" class="d-flex flex-column gap-3"><i class="pi pi-search" style="font-size: 5em"></i> Search for users</p>
					<p *ngIf="searching" class="d-flex flex-column gap-3">Searching...</p>
				</div>
			</ng-template>
			<ng-template pTemplate="list" let-results>
				<div class="row text-center">
					<div *ngFor="let result of results" class="col-2">
						<div class="p-2 shadow-sm border rounded">
							<div style="height: 100px">
								<img class="mh-100 rounded" [src]="result.profilePicture" />
							</div>
							<!-- <img [src]="result.profilePicture" alt="Profile Picture"> -->
							<p class="fs-6 fw-bold">{{ result.name }}</p>
							<!-- <p class="fs-6">{{ result.experience }}</p> -->
							<p class="fs-6">
								Experience: {{ result.experience.years }} year(s)
								<br>
								<small>({{ result.experience.level }})</small>
							  </p>
							<p class="fs-6">{{ result.companyName }}</p>
							<!-- <p class="fs-6">{{ result.status }}</p> -->
							<p-tag *ngIf="result.status" 
							[value]="result.status" 
							[severity]="getStatusSeverity(result.status)">
					 </p-tag>
					 <p-tag *ngIf="!result.status" 
							value="Send Request" 
							severity="info">
					 </p-tag>
						</div>
					</div>
				</div>
			</ng-template>
		</p-dataView>
	</div>
</div>
