<p-tabView  [activeIndex]="initialTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel *ngIf="userRole == 1" header="Accepted" >
    </p-tabPanel>
    <p-tabPanel *ngIf="userRole == 1" header="Pending">
    </p-tabPanel>
    <p-tabPanel *ngIf="userRole == 0" header="Pending">
    </p-tabPanel>
</p-tabView>


<p-orderList *ngIf="showList"
    [value]="currentList" 
    [listStyle]="{ height: '25rem' }" 
    header="Requests">
    <ng-template let-referent pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="w-4rem shadow-2 flex-shrink-0 border-round" style="background-color: #f0f0f0; width: 50px; height: 50px;">
                <span class="font-bold">{{ referent.name.charAt(0) }}</span>
            </div>
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ referent.name }}</span>
                <div class="flex align-items-center gap-2">
                    <!-- <i class="pi pi-user text-sm"></i> -->
                    <!-- <span>
                        {{ referent.profile }}
                    </span> -->
                </div>
            </div>
            <!-- <span class="font-bold text-900">
                ID: {{ referent.userId }}
            </span> -->
        </div>
    </ng-template>
</p-orderList>