<div class="container">
	<div class="countries">
		<h2>Countries</h2>
		<button pButton (click)="showAddCountryDialog()">Add Country</button>
		<table class="table">
			<thead>
				<tr>
					<th>Country ID</th>
					<th>Country Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let country of countries" (click)="onCountrySelect(country)">
					<td role="button">{{ country.countryId }}</td>
					<td>{{ country.countryName }}</td>
					<td>
						<button class="mx-1" pButton severity="info" size="small" (click)="showEditCountryDialog(country)">Edit</button>
						<button class="mx-1" pButton severity="danger" size="small" (click)="onDeleteCountry(country.countryId)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="cities">
		<app-admin-cities *ngIf="selectedCountry" [selectedCountry]="selectedCountry"></app-admin-cities>
	</div>
</div>
<p-dialog header="Add Country" [(visible)]="displayAddDialog" modal="true" [closable]="false">
	<form [formGroup]="addCountryForm">
		<div class="form-group">
			<label for="countryName required">Country Name</label>
			<input type="text" id="countryName" formControlName="countryName" class="form-control" />
		</div>
	</form>
	<ng-template pTemplate="footer">
		<button type="button" pButton severity="secondary" (click)="hideAddDialog()">Cancel</button>
		<button type="submit" pButton (click)="onAddCountrySubmit()">Add Country</button>
	</ng-template>
</p-dialog>

<p-dialog header="Edit Country" [(visible)]="displayEditDialog" modal="true" [closable]="false">
	<form [formGroup]="editCountryForm">
		<input type="hidden" formControlName="countryId" />
		<div class="form-group">
			<label for="editCountryName required">Country Name</label>
			<input type="text" id="editCountryName" formControlName="countryName" class="form-control" />
		</div>
	</form>
	<ng-template pTemplate="footer">
		<button type="button" pButton severity="secondary" (click)="hideEditDialog()">Cancel</button>
		<button type="submit" pButton (click)="onEditCountrySubmit()">Save Changes</button>
	</ng-template>
</p-dialog>
